# Default ignored files
/shelf/
/caches/
/dictionaries/
/inspectionProfiles/
/modules/
.name
appInsightsSettings.xml
deploymentTargetSelector.xml
compiler.xml
gradle.xml
kotlinc.xml
material_theme_project_new.xml
migrations.xml
misc.xml
other.xml
render.experimental.xml
vcs.xml
workspace.xml
/runConfigurations.xml
